* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

p {
  color: hsl(227, 12%, 61%);
  line-height: 1.4rem;
  text-align: justify;
}

button {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 12px 8px -12px hsl(12, 88%, 59%);
  font-weight: 700;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(233, 12%, 13%);
}

.container {
  width: min(100% - 4rem, 1296px);
  margin: 0 auto;
}

/* Header styles */

nav .container {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.logo>img {
  position: relative;
  top: 4px;
}

nav ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* -------------*/

/* Main styles */

/* hero styles */

.hero .container {
  display: flex;
}

.hero-info {
  min-width: 50%;
}

.hero-info h1 {
  font-size: 40px;
  max-width: 19ch;
  margin-bottom: 20px;
}

.hero-info p {
  margin-block: 16px;
  width: 33ch;
}

.hero-img {
  min-width: 50%;
}

.hero-img>img {
  width: max(80%, 350px);
  display: block;
  margin: 0 auto;
}

/*---------*/

/* Manage styles */
.manage .container {
  display: flex;
  margin-block: 32px;
}

.manage-about {
  min-width: 50%;
}

.manage-about h1 {
  margin-bottom: 20px;
}

.manage-about p {
  max-width: 33ch;
}

.manage-info {
  min-width: 50%;
}

.manage-info article {
  width: max(80%, 350px);
  margin: 0 auto;
}

.manage-info span {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  padding: 5px 13px 5px 15px;
  border-radius: 20px;
  margin-right: 20px;
}

.manage-info h4 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.manage-info p {
  max-width: 80%;
  margin-left: 72px;
}

/*-------------*/

/*Sliders*/

.sliders {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sliders h1 {
  text-align: center;
  margin-bottom: 32px;
}

.sliders button {
  margin: 0 auto;
}

.slide-row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: 0.8s;
}

.slide-column {
  width: 33.33%;
  flex-shrink: 0;
  padding-right: 40px;
}

.slide-element {
  position: relative;
  padding: 20px;
  height: 100%;
  background-color: hsl(0, 0%, 98%);
}

.slide-element h4 {
  text-align: center;
  margin-block: 20px;
}

.slide-element img {
  width: 4rem;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator {
  margin: 20px auto;
}

.btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background-color: hsl(227, 12%, 61%);
  cursor: pointer;
}

.active {
  width: 45px;
}

.slide-row.showing-1 .slide-column-1 {
  margin-left: 0;
}

.slide-row.showing-2 .slide-column-1 {
  margin-left: -33%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}