* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

html.no-scroll,
html.no-scroll body {
  overflow: hidden;
}

p {
  color: hsl(227, 12%, 61%);
  line-height: 1.4rem;
}

button {
  cursor: pointer;
}

.btn {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 12px 8px -12px hsl(12, 88%, 59%);
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(233, 12%, 13%);
}

.container {
  width: min(100% - 4rem, 1296px);
  margin: 0 auto;
}

/* Header styles */

header .container {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.logo>img {
  position: relative;
  top: 4px;
}

header ul {
  display: flex;
}

header li:not(:last-child) {
  margin-right: 40px;
}

.hamburger {
  display: none;
}

/* -------------*/

/* Main styles */

/* hero styles */
.hero {
  position: relative;
}

.hero .container {
  display: flex;
  align-items: center;
}

.hero>img {
  width: max(620px, 60%);
  position: absolute;
  top: -333px;
  right: -250px;
  z-index: -1;
}

.hero-info {
  min-width: 49%;
}

.hero-info h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero-info p {
  margin-block: 32px;
  max-width: 33ch;
}

.hero-img {
  min-width: 51%;
}

.hero-img>img {
  width: max(80%, 350px);
  display: block;
  margin: 0 auto;
}

/*---------*/

/* Manage styles */

.manage {
  position: relative;
}

.manage .container {
  display: flex;
  margin-block: 32px;
  padding-top: 100px;
}

.manage-about {
  min-width: 49%;
}

.manage-about h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  width: 70%;
}

.manage-about p {
  max-width: 33ch;
}

.manage img {
  position: absolute;
  width: 600px;
  bottom: -350px;
  left: -300px;
  z-index: -1;
}

.manage-info {
  min-width: 51%;
}

.manage-info article {
  width: max(80%, 350px);
  margin: 0 auto;
}

.manage-info span {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  padding: 5px 13px 5px 15px;
  border-radius: 20px;
  margin-right: 20px;
}

.manage-info h4 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.manage-info p {
  max-width: 85%;
  margin-left: 72px;
}

/*-------------*/

/*Sliders*/

.sliders {
  display: flex;
  flex-direction: column;
  margin-block: 72px;
}

.sliders h1 {
  text-align: center;
  margin-bottom: 48px;
}

.sliders button {
  margin: 0 auto;
}

.slide-row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: 0.8s;
}

.slide-column {
  width: 33.33%;
  flex-shrink: 0;
  padding-inline: 40px;
  transition: margin 300ms linear;
}

.slide-element {
  position: relative;
  padding: 20px;
  height: 100%;
  background-color: hsl(0, 0%, 98%);
}

.slide-element h4 {
  text-align: center;
  margin-block: 20px;
}

.slide-element img {
  width: 4rem;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator {
  margin: 20px auto;
}

.ctrl-btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  border: 1px solid hsl(12, 88%, 59%);
  background-color: hsl(0, 0%, 98%);
  cursor: pointer;
}

.active {
  background-color: hsl(12, 88%, 59%);
}

.indicator .disable {
  display: none;
}

.slide-row.showing-1 .slide-column-1 {
  margin-left: 0;
}

.slide-row.showing-2 .slide-column-1 {
  margin-left: -33%;
}

/* cta styles */

.cta .container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(12, 88%, 59%);
  height: 8rem;
  position: relative;
  overflow: hidden;
}

.cta h2 {
  max-width: 20ch;
  color: hsl(0, 0%, 98%);
  margin-left: 8rem;
  font-weight: 400;
}

.cta h2+img {
  position: absolute;
  width: 300px;
  left: 10rem;
  top: -20px;
  opacity: 0.1;
}

.cta button {
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 59%);
  justify-self: flex-end;
  margin-right: 8rem;
}

.cta button+img {
  position: absolute;
  width: 300px;
  right: -140px;
  bottom: 48px;
  opacity: 0.1;
}

/* --------- */

footer .container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: hsl(233, 12%, 13%);
  height: 160px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer nav {
  min-width: 30%;
  margin-top: 20px;
}

footer ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  height: 8rem;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: hsl(0, 0%, 90%);
}

.footer-mail-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-mail-copyright input {
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

.footer-mail-copyright p {
  font-size: 10px;
  text-align: center;
}

/* ------ */
/* ------------ */

.attribution p {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1024px) {

  /* Header style */
  header li:not(:last-child) {
    margin-right: 20px;
  }

  /* Hero style */
  .hero-info h1 {
    font-size: 2rem;
    max-width: 19ch;
  }

  .hero .container {
    display: flex;
    align-items: flex-start;
  }

  .hero-info {
    align-self: flex-start;
  }

  .hero-info p {
    max-width: 30ch;
  }

  /* Manage style */
  .manage-about h1 {
    font-size: 1.5rem;
    width: 100%;
  }

  .manage-about p {
    max-width: 30ch;
  }

  /* Slider style */
  .slide-column {
    width: 50%;
  }

  .slide-row.showing-1 .slide-column-1 {
    margin-left: 0;
  }

  .slide-row.showing-2 .slide-column-1 {
    margin-left: -100%;
  }
}

@media (max-width: 768px) {

  /* Header styles */

  header .container {
    position: relative;
  }

  header nav {
    display: none;
  }

  header .btn {
    display: none;
  }

  .hamburger {
    display: block;
    border: none;
    position: relative;
    z-index: 2;
    background-color: transparent;
  }

  .hamburger .close-icon {
    display: none;
  }

  .hamburger.showing-close .menu-icon {
    display: none;
  }

  .hamburger.showing-close .close-icon {
    display: block;
  }

  header nav.is-open {
    display: block;
    width: 100%;
    height: calc(72vw);
    background-color: hsl(0, 0%, 98%);
    position: absolute;
    top: 90px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 0.75em 200vw rgba(0, 0, 0, 0.2);
  }

  header ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  header ul li {
    font-weight: 700;
  }

  /* Hero styles */

  .hero>img {
    width: 600px;
    top: -250px;
    right: -230px;
  }

  .hero .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-info {
    margin-top: 20px;
    align-self: center;
  }

  .hero-info h1 {
    margin-inline: auto;
    text-align: center;
    max-width: 19ch;
  }

  .hero-info p {
    text-align: center;
    margin-inline: auto;
  }

  .hero-info button {
    display: block;
    margin-inline: auto;
  }

  .hero-img>img {
    width: 100%;
  }

  /* Manage styles */
  .manage img {
    width: 300px;
    bottom: auto;
    left: auto;
    top: -300px;
    right: -150px;
  }

  .manage .container {
    flex-direction: column;
    padding-top: 20px;
  }

  .manage-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .manage-about h1 {
    margin-inline: auto;
    text-align: center;
    min-width: 14ch;
  }

  .manage-about p {
    text-align: center;
  }

  .manage-info h4 {
    display: inline-block;
    width: 100vw;
    background-color: hsla(12, 88%, 59%, 0.2);
    padding-block: 5px;
    border-radius: 20px;
  }

  /* Slide style */

  .slide-column {
    width: 100%;
  }

  .slide-row.showing-1 .slide-column-1 {
    margin-left: 0;
  }

  .slide-row.showing-2 .slide-column-1 {
    margin-left: -100%;
  }

  .slide-row.showing-3 .slide-column-1 {
    margin-left: -200%;
  }

  .slide-row.showing-4 .slide-column-1 {
    margin-left: -300%;
  }

  .indicator .disable {
    display: inline-block;
  }

  /* CTA style */
  .cta .container {
    height: 300px;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .cta h2 {
    margin: 0;
    padding-inline: 20px;
    text-align: center;
  }

  .cta h2+img {
    top: 20px;
    left: -200px;
  }

  .cta button {
    margin: 0;
    text-align: center;
  }

  .cta button+img {
    display: none;
  }

  /* Footer style */

  footer .container {
    height: 400px;
    flex-direction: column-reverse;
    position: relative;
    align-items: center;
  }

  footer ul {
    margin-left: 50px;
    width: 300px;
  }

  footer li {
    margin-right: 50px;
  }

  .footer-mail-copyright {
    align-items: center;
  }

  .footer-mail-copyright input {
    width: 240px;
    text-align: center;
  }

  .footer-mail-copyright p {
    position: absolute;
    bottom: 0;
  }

  .image-container {
    flex-direction: column-reverse;
  }

  footer .container .logos {
    margin-bottom: 40px;
    display: flex;
  }

  .container .logos img {
    width: 2rem;
  }

  .container .logos img:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width:440px) {
  /* Header styles */

  /* Hero styles */
  .hero>img {
    width: 500px;
    top: -250px;
    right: -230px;
  }

  /* Manage styles */
  .manage-info p {
    max-width: 96%;
    margin-left: 0;
  }

  .manage-info span {
    margin-right: 10px;
  }

  /* Sliders styles */
  /* CTA styles */
  .cta h2 {
    max-width: 12ch;
  }
}